## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
num_value = application_df.dtypes.index.tolist()
application_df[num_value].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df["APPLICATION_TYPE"].value_counts()
app_type_count.head()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 600].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classify_count = application_df["CLASSIFICATION"].value_counts()
classify_count.head(15)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classify_count = application_df["CLASSIFICATION"].value_counts(2)
classify_count

CLASSIFICATION
C1000    0.505146
C2000    0.177090
C1200    0.141025
C3000    0.055920
C2100    0.054900
           ...
C4120    0.000029
C8210    0.000029
C2561    0.000029
C4500    0.000029
C2150    0.000029
Name: proportion, Length: 71, dtype: float64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classify_count[classify_count < 300].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
Other    34299
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"]
x = numeric_df.drop(["IS_SUCCESSFUL"],axis=1)
# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=78)
x_train, x_test, y_train, y_test

(       STATUS   ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T19  \
 30531       1      5000                   False                 False
 22775       1      5000                   False                 False
 19057       1      5000                   False                 False
 27536       1      5000                   False                 False
 21331       1  11121098                   False                 False
 ...       ...       ...                     ...                   ...
 20558       1     51827                   False                 False
 18547       1     55178                   False                 False
 3476        1    103405                   False                 False
 22633       1      5000                   False                 False
 16854       1   1869240                   False                 False

        APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
 30531                False                False                False
 22775                 True                False                False
 19057                 True                False                False
 27536                 True                False                False
 21331                 True                False                False
 ...                    ...                  ...                  ...
 20558                 True                False                False
 18547                 True                False                False
 3476                 False                False                 True
 22633                 True                False                False
 16854                 True                False                False

        APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  APPLICATION_TYPE_T8  ...  \
 30531                 True                False                False  ...
 22775                False                False                False  ...
 19057                False                False                False  ...
 27536                False                False                False  ...
 21331                False                False                False  ...
 ...                    ...                  ...                  ...  ...
 20558                False                False                False  ...
 18547                False                False                False  ...
 3476                 False                False                False  ...
 22633                False                False                False  ...
 16854                False                False                False  ...

        INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
 30531              False                   False                     False
 22775              False                   False                     False
 19057              False                   False                     False
 27536              False                   False                     False
 21331              False                   False                     False
 ...                  ...                     ...                       ...
 20558              False                   False                      True
 18547              False                   False                      True
 3476               False                   False                     False
 22633              False                   False                     False
 16854              False                   False                     False

        INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
 30531               False             False                   False
 22775               False             False                   False
 19057               False             False                   False
 27536               False             False                   False
 21331                True             False                   False
 ...                   ...               ...                     ...
 20558               False             False                   False
 18547               False             False                   False
 3476                False             False                    True
 22633               False             False                   False
 16854                True             False                   False

        INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
 30531            False              False                      True
 22775            False              False                      True
 19057            False              False                      True
 27536            False              False                      True
 21331            False              False                      True
 ...                ...                ...                       ...
 20558            False              False                      True
 18547            False              False                      True
 3476             False              False                      True
 22633            False              False                      True
 16854            False              False                      True

        SPECIAL_CONSIDERATIONS_Y
 30531                     False
 22775                     False
 19057                     False
 27536                     False
 21331                     False
 ...                         ...
 20558                     False
 18547                     False
 3476                      False
 22633                     False
 16854                     False

 [25724 rows x 37 columns],
        STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T19  \
 13532       1    14651                   False                 False
 24789       1  5144674                   False                 False
 28401       1     5000                   False                 False
 26471       1   855441                   False                 False
 8873        1     5000                   False                 False
 ...       ...      ...                     ...                   ...
 17130       1     5000                   False                 False
 4820        1     5000                   False                 False
 3671        1     5000                   False                 False
 20254       1     5000                   False                 False
 20683       1     5000                   False                 False

        APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  \
 13532                 True                False                False
 24789                 True                False                False
 28401                 True                False                False
 26471                 True                False                False
 8873                  True                False                False
 ...                    ...                  ...                  ...
 17130                 True                False                False
 4820                  True                False                False
 3671                 False                False                False
 20254                 True                False                False
 20683                 True                False                False

        APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  APPLICATION_TYPE_T8  ...  \
 13532                False                False                False  ...
 24789                False                False                False  ...
 28401                False                False                False  ...
 26471                False                False                False  ...
 8873                 False                False                False  ...
 ...                    ...                  ...                  ...  ...
 17130                False                False                False  ...
 4820                 False                False                False  ...
 3671                  True                False                False  ...
 20254                False                False                False  ...
 20683                False                False                False  ...

        INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
 13532              False                   False                     False
 24789              False                   False                     False
 28401              False                   False                     False
 26471              False                   False                     False
 8873               False                   False                     False
 ...                  ...                     ...                       ...
 17130              False                   False                     False
 4820               False                   False                     False
 3671               False                   False                     False
 20254              False                   False                     False
 20683              False                   False                     False

        INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
 13532               False             False                    True
 24789               False             False                   False
 28401               False             False                   False
 26471               False              True                   False
 8873                False             False                   False
 ...                   ...               ...                     ...
 17130               False             False                   False
 4820                False             False                   False
 3671                False             False                   False
 20254               False             False                   False
 20683               False             False                   False

        INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
 13532            False              False                      True
 24789            False               True                      True
 28401            False              False                      True
 26471            False              False                      True
 8873             False              False                      True
 ...                ...                ...                       ...
 17130            False              False                      True
 4820             False              False                      True
 3671             False              False                      True
 20254            False              False                      True
 20683            False              False                      True

        SPECIAL_CONSIDERATIONS_Y
 13532                     False
 24789                     False
 28401                     False
 26471                     False
 8873                      False
 ...                         ...
 17130                     False
 4820                      False
 3671                      False
 20254                     False
 20683                     False

 [8575 rows x 37 columns],
 30531    0
 22775    0
 19057    0
 27536    1
 21331    1
         ..
 20558    1
 18547    0
 3476     1
 22633    0
 16854    1
 Name: IS_SUCCESSFUL, Length: 25724, dtype: int64,
 13532    0
 24789    0
 28401    1
 26471    0
 8873     1
         ..
 17130    0
 4820     0
 3671     0
 20254    0
 20683    1
 Name: IS_SUCCESSFUL, Length: 8575, dtype: int64)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 18
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 342

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 541 (2.11 KB)
Trainable params: 541 (2.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6058 - accuracy: 0.7033
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.7252
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5696 - accuracy: 0.7254
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5682 - accuracy: 0.7272
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5671 - accuracy: 0.7272
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5665 - accuracy: 0.7287
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5664 - accuracy: 0.7277
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5658 - accuracy: 0.7283
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5656 - accuracy: 0.7282
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5654 - accuracy: 0.7276
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5648 - accuracy: 0.7293
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5653 - accuracy: 0.7284
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5646 - accuracy: 0.7283
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5646 - accuracy: 0.7290
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5645 - accuracy: 0.7284
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5644 - accuracy: 0.7291
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5642 - accuracy: 0.7287
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7293
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5640 - accuracy: 0.7287
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5643 - accuracy: 0.7289
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7282
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5639 - accuracy: 0.7297
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7304
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7289
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7297
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7290
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5637 - accuracy: 0.7287
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5636 - accuracy: 0.7292
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5637 - accuracy: 0.7288
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5637 - accuracy: 0.7288
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7302
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7288
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7296
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7288
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7285
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7295
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7291
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5634 - accuracy: 0.7280
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7290
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7287
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7296
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7300
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7291
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5633 - accuracy: 0.7293
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7287
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7292
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7294
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5632 - accuracy: 0.7293
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7290
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7293
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.7290
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7292
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7299
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5630 - accuracy: 0.7295
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7294
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7288
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7291
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7299
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7291
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7299
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7296
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7299
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7296
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7292
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7300
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5628 - accuracy: 0.7307
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7301
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7287
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7294
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7293
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7290
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7291
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5627 - accuracy: 0.7297
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7288
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7289
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7293
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7297
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7297
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7292
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5626 - accuracy: 0.7297
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7295
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7299
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7296
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5625 - accuracy: 0.7306
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7292
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7292
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7295
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7291
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7301
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7299
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7300
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5624 - accuracy: 0.7290
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7306
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5623 - accuracy: 0.7297
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7305
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7300
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7293
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5619 - accuracy: 0.7308
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5622 - accuracy: 0.7291
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7308

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5722 - accuracy: 0.7215 - 447ms/epoch - 2ms/step
Loss: 0.572180449962616, Accuracy: 0.7215160131454468

In [18]:
# Export our model to HDF5 file
nn.save('my_model.keras')